<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EKU IT Geeks QA Home</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'qa/css/bootstrap.min.css' %}">

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />

    {% block styles %}
    {% endblock styles %}

    <style>
      #user-tools {
        font-weight: 300;
        font-size: 11px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-align: right;
      }

      #user-tools a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      }

      #user-tools a:focus, #user-tools a:hover {
        text-decoration: none;
        border-bottom-color: #79aec8;
        color: #79aec8;
      }
    </style>
  </head>

  <body>  
    <div class="container mt-3">
      {% if user.is_authenticated %}
      <div class="d-flex justify-content-between mx-2 mt-3">
        <div></div>
        <div id="user-tools">
          Welcome, {{ user.first_name }}. 
          <a href="/admin">Admin area</a> / 
          <a href="{% url 'logout' %}?next=/">Log out</a>        
        </div>
      </div>
    {% endif %}
    {% block content %} {% endblock content %}
  </div>

    <script src="{% static 'qa/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'qa/js/Chart.bundle.min.js' %}"></script>

    {% block scripts %} {% endblock scripts %}
  </body>
</html>
