{% extends 'qa/base.html.j2' %} {% block styles %}
<style>
  .row {
    padding: 10px;
    border: 1px black solid;
    border-radius: 5px;
  }

  .modal-chart {
    max-height: 100%;
  }
</style>
{% endblock styles %} {% block content %}

<div class="row my-3">
  <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
    <h1>Geek QA</h1>
  </div>
  <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
    <a href="{% url 'qa:search' %}" class="btn btn-primary btn-lg mx-2">
      Search
    </a>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg mx-2" data-bs-toggle="modal" data-bs-target="#logErrorModal">
      Log New Error
    </button>
  </div>
</div>

{# CHARTS #}
<div class="row my-3">
  <div class="col-lg-6 my-3">
    <canvas data-bs-toggle="modal" data-bs-target="#pieChartModal" id="pie-chart"></canvas>
  </div>
  <div class="col-lg-6 my-3">
    <canvas data-bs-toggle="modal" data-bs-target="#lineChartModal" id="line-chart"></canvas>
  </div>
</div>

{# TABLE #}
<div class="row my-3">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Geek Name</th>
        <th scope="col">Error Type</th>
        <th scope="col">Commit Date</th>
        <th scope="col">Date Found</th>
      </tr>
    </thead>
    <tbody>
      {% for e in errors %}
      <tr data-id="{{ e.id }}" data-href="{% url 'qa:view_error' e.id %}" class="clickable-row">
        <td>{{ e.employees }}</td>
        <td>{{ e.type.name }}</td>
        <td>{{ e.committed_date }}</td>
        <td>{{ e.found_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- add error modal -->
<div class="modal fade" id="logErrorModal" tabindex="-1" aria-labelledby="logErrorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <form action="/create_error" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="logErrorModalLabel">Log New Error</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <!-- Notes -->
          <div class="form-group">
            <label for="notesInput">Notes</label>
            <textarea
              class="form-control"
              id="notesInput"
              name="notes"
              placeholder="Please provide a brief description of the error"
            ></textarea>
          </div>

          <!-- FP# -->
          <div class="form-group">
            <label for="fpInput">FP#</label>
            <input
              type="text"
              class="form-control"
              id="fpInput"
              name="footprints_number"
              placeholder="12345"
            />
          </div>

          <!-- Found Date -->
          <div class="form-group">
            <label for="dateFoundInput">Date Found</label>
            <input
              type="date"
              class="form-control"
              id="dateFoundInput"
              name="found_date"
            />
          </div>

          <!-- Committed Date -->
          <div class="form-group">
            <label for="dateCommittedInput">Date Committed</label>
            <input
              type="date"
              class="form-control"
              id="dateCommittedInput"
              name="committed_date"
            />
          </div>

          <!-- Error Type -->
          <div class="form-group">
            <label for="errorTypeInput">Error Type</label>
            <select class="form-control" id="errorTypeInput" name="error_type_id">
              {% for error_type in available_error_types %}
              <option value="{{ error_type.id }}">{{ error_type.name }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Employee -->
          <div class="form-group">
            <label for="employeeInput">Employee</label>
            <select class="form-control" id="employeeInput" name="employee_id">
              {% for employee in available_employees %}
              <option value="{{ employee.id }}">{{ employee.name }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Coordinator -->
          <div class="form-group">
            <label for="coordinatorInput">Coordinator</label>
            <select class="form-control" id="coordinatorInput" name="coordinator_id">
              {% for coordinator in available_coordinators %}
              <option value="{{ coordinator.id }}">{{ coordinator.name }}</option>
              {% endfor %}
            </select>
          </div>

          <!-- Tags -->
          <div class="form-group">
            <label for="tagInput">Tags</label>
            <select
              multiple
              class="form-control"
              id="tagInput"
              name="tag_ids"
              aria-describedby="tagHelp"
            >
              {% for tag in available_tags %}
              <option value="{{ tag.id }}">{{ tag.name }}</option>
              {% endfor %}
            </select>
            <small id="tagHelp" class="form-text text-muted">
              Hold CTRL to select multiple tags
            </small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{# pie chart modal #}

<!-- Modal -->
<div class="modal fade show" id="pieChartModal" tabindex="-1" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <canvas class="modal-chart" id="pie-chart-large"></canvas>
      </div>
    </div>
  </div>
</div>

{# line chart modal #}
<div class="modal fade show" id="lineChartModal" tabindex="-1" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <canvas class="modal-chart" id="line-chart-large"></canvas>
      </div>
    </div>
  </div>
</div>


{# CREATE BUTTON FOR EACH WEEK #}

{% for week in weeks %}
  <a href="{% url 'qa:search' %}?start={{ week.start }}&end={{ week.end }}" class="btn btn-primary mt-2 mb-3">{{ week.start }}</a>
{% endfor %}

{% endblock content %} {% block scripts %}
<script>
  window.addEventListener("load", () => {
    // make table rows clickable
    document.querySelectorAll(".clickable-row").forEach(row => {
      row.addEventListener("click", () => {
        window.location = row.dataset.href
      })
    })
  })

  // PIE CHART
  function getRandomColor() {
    return `#${Math.floor(Math.random() * 16777215).toString(16)}`
  }

backgroundColors = ['#AA0000', '#0000AA', '#00AA00', '#01cdfe', '#90400A','#dfdb76','#b99df0',
                      '#046e6c', '#c6d9e9', '#fbd11d', '#904f0f', '#ffb3ba','#bae1ff','#baffc9',
                      '#ff71ce', '#b967ff', '#01cdfe', '#05ffa1', '#f3c9bd','#00AA88'];
  
  const pie_chart_labels = {{ pie_chart_labels| safe }}
  const pie_chart_data = {{ pie_chart_data| safe }}

  const loopToThisNumber = pie_chart_labels.length - backgroundColors.length;

  for (let i = 0; i < loopToThisNumber; i += 1) {
    backgroundColors.push(getRandomColor())
  };

  var config = {
    type: 'pie',
    data: {
      datasets: [{
        data: pie_chart_data,
        backgroundColor: backgroundColors,
        label: 'Type of Error Comparison'
      }],
      labels: pie_chart_labels
    },
    options: {
      responsive: true
    }
  };

  var ctx = document.getElementById('pie-chart-large').getContext('2d');
  window.myPie3 = new Chart(ctx, config);
  
  // PIE CHART large

  config2 = {
    ...config,
    options: {
      responsive: true,
      legend: {
        onClick: null  
      }
    }
  }

  var ctx = document.getElementById('pie-chart').getContext('2d');
  window.myPie1 = new Chart(ctx, config2);

  

  // Line chart
  const line_graph_labels = {{ line_graph_labels | safe}}
  const line_graph_data = {{ line_graph_data | safe}}

  var config = {
    type: "line",
    data: {
      datasets: [
        {
          data: line_graph_data,
          backgroundColor: backgroundColors,
          label: "Error Count by Week",
          fill: false,
          borderColor: "#000000",
        },
      ],
      labels: line_graph_labels,
    },
    options: {
      responsive: true,
      hover: {
        mode: 'label'
      },
      scales: {
        yAxes: [{
          display: true,
          ticks: {
            beginAtZero: true
          }
        }]
      },
    }
  };

  var ctx = document.getElementById("line-chart-large").getContext("2d");
  window.myPie2 = new Chart(ctx, config);

  config2 = {
    ...config,
    options: {
      responsive: true,
      legend: {
        onClick: null  
      }
    }
  }

  var ctx = document.getElementById("line-chart").getContext("2d");
  window.myPie2 = new Chart(ctx, config2);

  var testtest = {{ testtest | safe }}
  console.log(testtest)
</script>
{% endblock scripts %}
