{% extends 'qa/base.html.j2' %}

{% block content %}

  <a href="/" class="btn btn-primary">Back</a>

  <form action="/update_error" method="POST">
    {% csrf_token %}

    <input type="text" name="id" id="errorId" value="{{ error.id }}" hidden>

    <!-- Notes -->
    <div class="form-group">
      <label for="notesInput">Notes</label>
      <textarea
        class="form-control"
        id="notesInput"
        name="notes"
        placeholder="Please provide a brief description of the error"
        disabled
      >{{ error.notes }}</textarea>
    </div>

    <!-- FP# -->
    <div class="form-group">
      <label for="fpInput">FP#</label>
      <input
        type="text"
        class="form-control"
        id="fpInput"
        name="footprints_number"
        placeholder="12345"
        {% if error.footprints_number != None %}
            value="{{ error.footprints_number }}"
        {% endif %}
        disabled
      />
    </div>

    <!-- Found Date -->
    <div class="form-group">
      <label for="dateFoundInput">Date Found</label>
      <input
        type="date"
        class="form-control"
        id="dateFoundInput"
        name="found_date"
        value="{{ formatted_found_date }}"
        disabled
      />
    </div>

    <!-- Committed Date -->
    <div class="form-group">
      <label for="dateCommittedInput">Date Committed</label>
      <input
        type="date"
        class="form-control"
        id="dateCommittedInput"
        name="committed_date"
        value="{{ formatted_committed_date }}"
        disabled
      />
    </div>

    <!-- Error Type -->
    <div class="form-group">
      <label for="errorTypeInput">Error Type</label>
      <select class="form-control" id="errorTypeInput" name="error_type_id" disabled>
        {% for error_type in available_error_types %}
        <option
            value="{{ error_type.id }}"
            {% ifequal error_type.id error.type.id %}
                selected
            {% endifequal %}
        >
            {{ error_type.name }}
        </option>
        {% endfor %}
      </select>
    </div>

    <!-- Employee -->
    <div class="form-group">
      <label for="employeeInput">Employee</label>
      <select class="form-control" id="employeeInput" name="employee_id" disabled>
        {% for employee in available_employees %}
        <option
            value="{{ employee.id }}"
            {% ifequal employee.id error.employees.id %}
                selected
            {% endifequal %}
        >
            {{ employee.name }}
        </option>
        {% endfor %}
      </select>
    </div>

    <!-- Coordinator -->
    <div class="form-group">
      <label for="coordinatorInput">Coordinator</label>
      <select class="form-control" id="coordinatorInput" name="coordinator_id" disabled>
        {% for coordinator in available_coordinators %}
        <option
            value="{{ coordinator.id }}"
            {% ifequal coordinator.id error.coordinator.id %}
                selected
            {% endifequal %}
        >
                {{ coordinator.name }}
        </option>
        {% endfor %}
      </select>
    </div>

    <!-- Tags -->
    <div class="form-group">
      <label for="tagInput">Tags</label>
      <select
        multiple
        class="form-control"
        id="tagInput"
        name="tag_ids"
        aria-describedby="tagHelp"
        disabled
      >
        {% for tag in available_tags %}
        <option
            value="{{ tag.id }}"
            {% if tag in error.tags.values.all %}
                selected
            {% endif %}
        >
            {{ tag.name }}
        </option>
        {% endfor %}
      </select>
      <small id="tagHelp" class="form-text text-muted">
        Hold CTRL to select multiple tags
      </small>
    </div>

    <br />

    <button type="button" style="display: none;" class="btn btn-secondary" id="cancelBtn">Cancel</button>
    <button type="submit" style="display: none;" class="btn btn-success" id="updateBtn">Update</button>
    <button type="button" class="btn btn-warning" id="editBtn">Edit</button>

    <!-- Button trigger modal -->
    <button type="button" style="display: none;" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" id="deleteBtn">
      Delete
    </button>
  </form>
   
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this error?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <a href="{% url 'delete_error' error.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>


    
{% endblock content %}

{% block scripts %}
    <script>
      const updateBtn = document.querySelector("#updateBtn");
      const editBtn = document.querySelector("#editBtn");
      const cancelBtn = document.querySelector("#cancelBtn");
      const deleteBtn = document.querySelector("#deleteBtn");

      const _textarea = document.querySelector("textarea");
      const inputs = document.querySelectorAll("input.form-control");
      const selects = document.querySelectorAll("select.form-control");

      window.addEventListener("load", () => {
        editBtn.addEventListener("click", () => {
          inputs.forEach(_input => {
            _input.disabled = false;
          })

          selects.forEach(_select => {
            _select.disabled = false;
          })

          _textarea.disabled = false;

          editBtn.style.display = "none";
          updateBtn.style.display = "inline";
          cancelBtn.style.display = "inline";
          deleteBtn.style.display = "inline";
        })

        cancelBtn.addEventListener("click", () => {
          location.reload(true);
        })
      })
    </script>
{% endblock scripts %}
